<p>{{moment}}</p>
<link rel="stylesheet" href="/static/stylesheets/sinewave_test.css"/>
<script src="/static/bower_components/socket.io-client/dist/socket.io.min.js"></script>
<script src="/static/javascripts/sinewave_test.js"></script>
