<p>{{moment}}</p>
<script src="/static/bower_components/socket.io-client/dist/socket.io.min.js"></script>
<script>
var socket = io.connect();
socket.on('tick',function(data) {
    console.log('tick', data);
});
</script>
